<div id="<%= dom_id product %>" class="menu-container">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Aneka minuman:</strong>
    <%= product.aneka_minuman %>
  </p>

  <p>
    <strong>Aneka sayuran:</strong>
    <%= product.aneka_sayuran %>
  </p>

  <p>
    <strong>Aneka ayam:</strong>
    <%= product.aneka_ayam %>
  </p>

  <p>
    <strong>Lainnya:</strong>
    <%= product.lainnya %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= product.available %>
  </p>

  <p>
    <strong>Catering:</strong>
    <%= product.catering %>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= product.featured %>
  </p>

</div>
